/* SHARED STYLES */
.loadingStrawberry {
  animation: rotate 2s infinite linear;
  filter: grayscale(100%);
  font-size: 50px;
}

.bigText {
  font-size: 30px;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.strawberryInput {
  border: 2px solid #D20B0B;
  height: 40px;
  line-height: 40px;
  font-size: 40px;
  width: 320px;

  padding: 10px;
  margin-top: 20px;
  outline: none;
}

.strawberryInput:focus {
  border: 2px solid #19AF00;
}

.strawberryButton {
  font-size: 40px;
  height: 40px;
  line-height: 40px;
  padding: 10px 10px 15px 10px;
  border: 2px solid #D20B0B;
  margin-bottom: 20px;
  cursor: pointer;
  width: 300px;  /* so it doesn't change width on italicise */
  text-align: center;
}

.strawberryButton:hover {
  border: 2px solid #19AF00;
  font-style: italic;
}

.strawberryLinkButton {
  border-bottom: 2px solid #D20B0B;
  cursor: pointer;
  padding-bottom: 2px;
}

.strawberryLinkButton:hover {
  border-bottom: 2px solid #19AF00;
  font-style: italic;
}

.strawberryCenter {
  text-align: center;
}

.flexCenterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* MAIN PAGE STYLES */
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainPageContent {
  text-align: center;
  font-size: 40px;
  margin-top: -50px;
  height: 310px;
}

.bigStrawberry {
  font-size: 120px;
}

.wordLengthControl {
  font-size: 25px;
}

.wordLengthSelect {
  height: 40px;
  line-height: 35px; /* make it more vertically centered */
  padding: 0px 10px 0px 11px;  /* make it more centered looking */
  border: 2px solid #D20B0B;
  font-size: 25px;
  border-radius: 0px;
  -webkit-appearance: none;
  outline: none;
  background-color: white;
  margin-right: 5px;
  text-align: center;
}

.wordLengthSelect:active, .wordLengthSelect:focus {
  border: 2px solid #19AF00;
}

/* GAME COMPONENT STYLES */

.displayNumberOrLetter {
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
}

.card {
  margin: 5px;
  width: 55px;
  height: 75px;
  line-height: 75px;
  font-size: 55px;
  color: white;
  text-align: center;
  border: 1px solid #777777;
  border-radius: 5px;
}

.cardActive {
  background-color: #777777;
}

.cardWithPlayerNumber {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}


.cardsInHand {
  display: flex;
}


/* GAME LAYOUT STYLES */

.gameContainer {
  display: flex;
  height: 100vh;
}

.gameSidebar {
  border-right: 1px solid black;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  flex: none;
  overflow: auto;
}

.gameStartMainContent {
  text-align: center;
  font-size: 30px;
}

.gameStartWordErrorMessage {
  height: 15px;
  font-size: 15px;
  line-height: 15px;
  margin-top: 10px;
  font-style: italic;
}
