/* SHARED STYLES */
.loadingStrawberry {
  animation: rotate 2s infinite linear;
  filter: grayscale(100%);
  font-size: 50px;
}

.bigText {
  font-size: 30px;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.strawberryInputBig {
  height: 40px;
  line-height: 40px;
  font-size: 40px;
  width: 320px;

  padding: 10px;
  margin-top: 20px;
}

.strawberryInputSmall {
  text-align: center;
  width: 20px;
  margin-left: 5px;
  margin-top: -5px;
  font-size: 16px;
}

.strawberryInput {
  border: 2px solid #D20B0B;
  outline: none;
}

.strawberryInput:focus {
  border: 2px solid #19AF00;
}

/* reset default styles on buttons */
button {
  background: none;
  border: 0 none;
  border-radius: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
  padding: 0px;
}

.strawberryButton {
  display: block;
  box-sizing: border-box;
  font-size: 40px;
  height: 65px;
  line-height: 40px;
  padding: 10px 10px 15px 10px;
  border: 2px solid #D20B0B;
  margin-bottom: 20px;
  cursor: pointer;
  width: 330px;  /* so it doesn't change width on italicise */
  text-align: center;
}

.strawberryButton:hover, .strawberryButton:focus {
  border: 2px solid #19AF00;
  font-style: italic;
}

.strawberryLinkButtonDisabled {
  background: none;
  border: none;
  border-bottom: 2px solid #777777;
  cursor: default;
  padding-bottom: 2px;
}

.strawberryLinkButton {
  border-bottom: 2px solid #D20B0B;
  cursor: pointer;
  padding-bottom: 2px;
}

.strawberryLinkButton:hover, .strawberryLinkButton:focus {
  border-bottom: 2px solid #19AF00;
  font-style: italic;
}

.strawberryCenter {
  text-align: center;
}

.flexCenterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.flexColumnContainer {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flexAlignRight {
  flex: auto;
  text-align: right;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.italics {
  font-style: italic;
}

/* MAIN PAGE STYLES */
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainPageContent {
  text-align: center;
  font-size: 40px;
  margin-top: -50px;
  height: 310px;
}

.bigStrawberry {
  font-size: 120px;
}

.wordLengthControl {
  font-size: 25px;
}

.wordLengthSelect {
  height: 40px;
  line-height: 35px; /* make it more vertically centered */
  padding: 0px 10px 0px 11px;  /* make it more centered looking */
  border: 2px solid #D20B0B;
  font-size: 25px;
  border-radius: 0px;
  -webkit-appearance: none;
  outline: none;
  background-color: white;
  margin-right: 5px;
  text-align: center;
}

.wordLengthSelect:active, .wordLengthSelect:focus {
  border: 2px solid #19AF00;
}

/* GAME COMPONENT STYLES */

.displayNumberOrLetter {
  width: 25px;
  height: 25px;
  line-height: 23px;
  font-size: 16px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
  box-sizing: border-box;
}

/* TODO: improve card styling, inc button hover */

.card {
  margin: 5px;
  width: 55px;
  height: 75px;
  line-height: 75px;
  font-size: 50px;
  color: black;
  text-align: center;
  border: 2px solid #999999;
  border-radius: 5px;
}

.cardActive {
    border-color: #777777;
}

.cardButton {
  cursor: pointer;
  border-color: #D20B0B;
}

.cardButton:hover {
  border-color: #19AF00;
}

.cardWithPlayerNumber {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}



/* GAME LAYOUT STYLES */

.gameContainer {
  display: flex;
  height: 100vh;
}

.gameSidebar {
  border-right: 2px solid #999999;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  flex: none;
  overflow: auto;
}

.gameStartMainContent {
  text-align: center;
  font-size: 30px;
}

.gameStartWordErrorMessage {
  height: 15px;
  font-size: 15px;
  line-height: 15px;
  margin-top: 10px;
  font-style: italic;
}

.dummyAnnotation {
  font-size: 12px;
  margin-bottom: 5px;
}

.hintLog {
  height: 100%;
  overflow: auto;
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.hintLogTitle {
  font-size: 25px;
  margin-bottom: 15px;
}

.hintLogLine {
  margin-bottom: 15px;
}

.hintLogGuessBox {
  border: 2px solid #D20B0B;
  padding: 10px 0px 10px 10px;
  margin-bottom: 15px;
  overflow: auto; /* awwww yeah side scrolling */
  min-height: fit-content;
  display: flex;
}

.hintLogGuessBox:hover {
  border: 2px solid #19AF00;
}

.hintLogGuessBoxClear {
  padding-left: 5px;
  padding-right: 10px;
}
